@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-darkBlue: hsl(217, 28%, 15%);
  --color-darkBlue1: hsl(218, 28%, 13%);
  --color-darkBlue2: hsl(216, 53%, 9%);
  --color-darkBlue3: hsl(219, 30%, 18%);
  --color-accentCyan: hsl(176, 68%, 64%);
  --color-accentBlue: hsl(198, 60%, 50%);
  --color-lightRed: hsl(0, 100%, 63%);

  --font-sans: 'Raleway', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;

  --background-image-logo-dark-mode: url('./images/logo-dark-mode.svg');
  --background-image-logo-light-mode: url('./images/logo-light-mode.svg');
  --background-image-curvy-dark-mode: url('./images/bg-curvy-dark-mode.svg');
  --background-image-curvy-light-mode: url('./images/bg-curvy-light-mode.svg');
}
