@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-strongCyan: hsl(171, 66%, 44%);
  --color-lightBlue: hsl(233, 100%, 69%);
  --color-darkGrayishBlue: hsl(210, 10%, 33%);
  --color-grayishBlue: hsl(201, 11%, 66%);

  --font-sans: "Bai Jamjuree", sans-serif;
}

@layer base {
  h3 {
    @apply text-darkGrayishBlue mb-8 text-4xl font-bold md:text-5xl;
  }
  h5 {
    @apply text-darkGrayishBlue mb-2 text-2xl font-bold;
  }
}

body {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  @media (width > 576px) {
    background-image: url(./images/bg-header-desktop.png);
  }
}

/* Custom classes */
.section-container {
  @apply mx-auto max-w-6xl px-10 text-center;
}

.section-content {
  @apply text-grayishBlue mx-auto max-w-3xl text-center leading-9;
}

.button-container {
  @apply flex w-full flex-col justify-center space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}
