@import 'tailwindcss';

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1440px;

  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);

  --font-sans: 'Rubik', sans-serif;

  --background-image-dots: url('./images/bg-dots.svg');
}

@variant lg {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply bg-softBlue absolute top-52 rounded-l-full;
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply bg-softBlue absolute top-60 rounded-r-full;
  }
}

/* Hamburger Button */
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  cursor: pointer;
}
.hamburger-top,
.hamburger-mid,
.hamburger-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-mid {
  transform: translateY(7px);
}
.hamburger-bot {
  transform: translateY(14px);
}

.open {
  position: fixed;
  top: 48px;
  right: 24px;
  transform: rotate(90deg);
  span {
    background: #fff;
  }
  .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  .hamburger-bot {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
  .hamburger-mid {
    transform: scaleX(0);
  }
}
